.header-top {
  height: 114px;
  width: 100%;
  background-color: rgba(164, 31, 35, 0.65);
  position: absolute;
  top: 0;
}

.logo {
  position: absolute;
  left: 6%;
  transform: translate(-20%, 20%);
  z-index: 1;
}

.navbar-brand {
  padding-left: 250px;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav {
  background-color: rgba(164, 31, 35, 0.65);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 350%);
  height: auto;
  width: 73%;
}

.navbar-nav .nav-item {
  width: 16.66%;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(164, 31, 35, 1);
}

.dropdown-menu {
  border-radius: 0px;
  border: 0;
  text-align: center;
}

.dropdown-item {
  background-color: rgba(164, 31, 35, 1);
  border-bottom: 1px solid rgba(248, 240, 241, 0.7);
}


.dropdown-item:hover {
  background-color: rgba(164, 31, 35, 0.65);
}


.navbar-nav .nav-item .nav-link.active {
  background-color: rgba(164, 31, 35, 1);
}

